<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DeepFake Detection</title>
    <h1>Please upload a video under 5MBs:</h1>
    <style>
      div {
        background-color: #1c87c9;
        color: #d5dce8;
        padding: 22px;
      }
    </style>
</head>
<body>
      <form action = "#" method = "post"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
      <style>
        body {
          background-image: url('https://i.imgur.com/DQbiwKN.jpg');
        }
      </style>
   </body>
</html>