<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title align="center">DeepFake Detection</title>
    <style>
    p { color:white;
        text-align: center }
    </style>
    <style>
    h1 { color:white;
        text-align: center }
    </style>
    <style>
    form {width:250px;
    margin: 0 auto;
}
    </style>
    <h1 style="color:white;">DeepFake Detection</h1>
    <p style="color:white">No face detected for analysis. Please go back and upload another video.</p>
    <style>
      div {
        background-color: #1c87c9;
        color: #d5dce8;
        padding: 22px;
      }
    </style>
</head>
<body>
<p style="color:white">No face detected for analysis</p>
   </body>
</html>